#navbar {
    height: 100px;
}

.check-error{
    color:red;
}

.check-success{
    color:green;
}

#listheader{
    color: blue;
    font-size: large;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
    margin-top: 3%;
}

.list-group-item{
    color: blue;
    font-size: large;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
    margin-top: 3%;
}
