{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row mb-4">
    <div class="offset-8 input-group d-flex flex-column">
      <form hx-post="{% url 'add-film' %}" hx-target="#filmsList" class="d-flex" style="max-width: 375px;">
          {% csrf_token %}
          <input type="text" id="filmInput" class="form-control" name="filmname" placeholder="输入电影名称"
            hx-get="{% url 'search-film' %}" hx-trigger="input changed delay:300ms" hx-target="#autocompleteItems">
          <button class="btn btn-success px-3 " type="submit">
          <i class="bi bi-plus-lg text-white"></i> Add
          </button>
      </form>
      <div id="autocompleteItems" class="list-group mt-1" style="max-width: 375px;"></div>
    </div>
  </div>

  <div id="filmsList">
    {% include "partials/films_list.html" %}
  </div>
</div>
{% endblock %}